[submodule "ThirdParty/as3delaunay-Swift"]
	path = ThirdParty/as3delaunay-Swift
	url = git@github.com:utahwithak/as3delaunay-Swift.git
[submodule "ThirdParty/QHull"]
	path = ThirdParty/QHull
	url = git@github.com:utahwithak/QHullSwift.git
